
/*Fuentes que se pueden usar
font-family: 'DM Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Rubik', sans-serif;

Colores
#FFC93C - Amarillo
#DBF6E9 - celeste
#9DDFD3 - celeste oscuro
#31326F - azul
*/





*{
    margin: 0;
    padding: 0;
    
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #DBF6E9;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #31326F;
    border-radius: 5px;
}

/*Header*/
header{
    display: flex;
    padding: 14px 14px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #78c7ca;
}

header #logo img{
    width: 60px;
    height: 60px;
    min-width: 30px;
    min-height: 30px;
}

header #logo{
    margin-left: 10px;
    justify-content: center;
}

header span{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    
}

header span i{
    margin-right: 8px;
    cursor: pointer;
    font-size: 25px;
    color: #31326F;
    
}
    
header span i:hover{
    opacity: 0.40;
    transition: 0.5s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(198, 243, 221);
    background-color: rgb(219, 246, 233, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #31326F;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #73b9bb;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}








/*Header*/

/*Body*/




body{
    background-color: #a2c1d8;
}


.menus a{
    text-decoration: none;
    color: #2f448e;
    margin: 20px;
    font-size: 25px;
}

.menus i{
    font-size: 24px;
}

.menus a span:first-child {
    display: inline-block;
}

.menus a{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
   
.menus a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menus a span {
    transition: transform 0.2s ease-out;
  }
   
  .menus a:hover span:first-child {
    transform: translateY(100%);
  }
   
  .menus a:hover span:last-child {
    transform: none;
}

.menus[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
}
   
.menus[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
}
   
.menus[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}
   
.menus[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}
   
.menus[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
}
   
.menus[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
}

.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a2c1d8;
    margin-top: vw;
}

/*Body*/






/*HEADER MENU*/
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

@media(max-width:2599px) and (min-width:1200px){
    .enun{
        margin: 18% 18% 0px 30%;

    }
    .enun h1{
        font-size: 35px;
        text-align: center;
    }

    .menus span{
        font-size: 20px;
    }

    #boton{
        visibility:hidden;
        display:none;
    }

}

@media(max-width:1199px) and (min-width:901px){
    #boton{
        visibility:hidden;
        display:none;
    }

    .enun{
        margin: 18vw 32vw 32vw 32vw;

    }
    .enun h1{
        font-size: 30px;
        text-align: center;
    }

    .menus span{
        font-size: 25px;
    }


}




@media(max-width:900px) and (min-width:751px){
    .menus span{
        font-size: 18px;
    }
    
    #boton{
        visibility:hidden;
        display:none;
    }
    .enun{
        margin: 18vw 30vw 30vw 30vw;
    }
    .enun h1{
        font-size: 30px;
        text-align: center;
    }

}

@media(max-width:750px) and (min-width:551px){
    .menus{
        visibility:hidden;
        display:none;
    }
    
    #slider{
        margin-top: 3vw;
    }

    .enun{
        margin: 16vw 22vw 16vw 22vw;

    }
    .enun h1{
        font-size: 20px;
        text-align: center;

    }
}


@media(max-width:550px) and (min-width:379px){
    .menus{
        visibility:hidden;
        display:none;
    }

    #slider{
        margin-top: 3vw;
    }

    .fran{
        flex-direction: column;
    }

    .fran img{
        width: 100%;
    }

    .enun{
        margin: 16vw 22vw 16vw 22vw;

    }
    .enun h1{
        font-size: 18px;
        text-align: center;

    }

    .bloque{
        margin: 10px;
        gap:3vw;
    }

    .califica h4{
        padding-top: 4vw;
    }

    

    .card{ 
        width: 31vw; 
        height: auto;
        margin: 3vw;
    }

    .card i{
        margin-top: 1rem;
        font-size: 30px;
    }

    .card-title h5{
        font-size: 10px;
        margin-top: 10px;
    }

    .card .tit {
        margin-bottom: 4vw;
    }

    .card .tit h3{
        border-radius: 100%;
        font-size: 28px;
    }


    #des{
        font-size: 13px;
    }

    .who .texto .display-5{
        font-size: 28px;
        padding-top: 1vw;
        margin-bottom: 2vw;
    }
    
    .fran .fran-der{
        order:2;
    }

    .fran .img-fluid1{
        align-content: flex-start;
        order:1;
    }

    .fran .text-ban1{
        font-size: 35px;
        
    }

    .fran-der{
        margin: 3vw 3vw 3vw 3vw;
    }

    .fran-der p{
        font-size: 18px;
        
    }

}

@media(max-width:378px) and (min-width:200px){
    header #logo img{
        width: 40px;
        height: 40px;
    }

    .menus{
        visibility:hidden;
        display:none;
    }

    .califica h4{
        font-size: 17px;
        padding-top: 4vw;
    }

    #slider{
        margin-top: 5vw;
    }

    .fran{
        flex-direction: column;
    }

    .fran img{
        width: 100%;
    }
    .enun{
        margin: 15vw 15vw 20vw 20vw;

    }
    .enun h1{
        font-size: 15px;
        text-align: center;

    }

    header span i{
        font-size: 20px;

    }

    
    .bloque{
        gap: 5px;
        margin: 5px;
    }

    .card{
        margin:2vw; 
        width: 32vw; 
    }


    .card i{
        margin-top: 1rem;
        font-size: 25px;
    }

    .card h5{
        margin-top: 5px;
        font-size: 14px;
    }

    .card .tit {
        margin-bottom: 4vw;
    }

    .card .tit h3{
        border-radius: 100%;
        font-size: 21px;
    }

    .card-body p{
        font-size: 12px;
    }

    #des{
        font-size: 11px;
    }

    .who .texto .display-5{
        font-size: 20px;
    }

    .fran .text-ban1{
        font-size: 28px;
        
    }

    .fran-der{
        margin: 3vw 3vw 3vw 3vw;
        order:2;
    }

    .fran-der p{
        font-size: 14px;
        
    }

    .fran .img-fluid1{
        align-content: flex-start;
        order:1;
    }

}
